@font-face {
	font-family: Avenir;
	src: url('../fonts/Avenir-Light-07.ttf');
}
@font-face {
	font-family: Comfortaa;
	src: url('../fonts/Comfortaa-Regular.ttf');
}

:root {
	--background-color: #fbfcfc;
	--panel-color: #e2e2e2;
	--primary-color: #5e9b47;
	--light-grey-color: #9d9d9c;
	--dark-grey-color: #878787;
}

body {
	background-color: var(--panel-color);
}

h1 {
	font-family: Comfortaa, serif;
	font-size: 2.25em;
}

h2 {
	font-family: Comfortaa, serif;
	font-size: 1.9375em;
}

h3 {
	font-family: Comfortaa, serif;
	font-size:  1.625em; 
}

h4 {
	font-family: Avenir, serif !important;
	font-size: 1.3125em;
}

p {
	font-family: Avenir, serif;
	font-size: 1em;
}

#lander-container {
	background-image: url('https://s.hswstatic.com/gif/fall-tiny-house-orig-1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	font-family: Comfortaa, serif;
}

.lander-container-layer {
	padding-top: 10%;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	height: 100%;
	width: 100%;
}

.lander-logo {
	width: 50%;
	height: 50%;
	display: block;
	margin: auto;
}

.fa-chevron-circle-down {
	margin-top: 20%;
	color: var(--primary-color);
	font-size: 8em;
}

#content-container {

}

#navigation-container {

}

.navbar {
	padding: 40% 5% 1% 5%;
	height: 0;
	background-image: url('https://blog.claytonhomes.com/hubfs/Blog/ClaytonTinyHome_JeffreyDunganCollection_TheLowCountry_039.jpg?t=1527878232226');
	background-repeat: no-repeat;
	background-color: var(--background-color);
	background-size: 100%;
	background-position: 50% 60%;
	font-family: Comfortaa, serif;
}


.nav-item h4 {
	color: #333;
}

.center-navigation {
	background-color: var(--background-color);
	width: 10em;
	text-align: center;
}

.navbar .nav-item:hover {
	background-color: var(--primary-color);
}

.navbar .nav-item.active {
	background-color: var(--primary-color);
}

.navbar .nav-item:hover .fa {
	color: var(--primary-color);
}

.icon-item {
	font-size: 2.25em;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0) !important;
}

.row-padding {
	padding: 5% 2%;
}

.button-padding {
	padding: 1% 2%;
}

.row-divider {
	padding: 5% 2%;
}

.account-container {
	background-color: var(--background-color);
	display: none;
}

.account-input-field {
	width: 90%;
}

.signup-container {
	display: none;
}

.slider {
	-webkit-appearance: none;
	background-color: var(--panel-color);
	height: 1em;
	border-radius: 5px;
	outline: none;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
	height: 1.625em;
	width: 1.625em;
	border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

.price-slider-container {
	width: 100%;
}

.distance-slider-container {
	width: 100%;
}

#primary-button {
	background-color: var(--light-grey-color);
}
.search-button {
	background-color: var(--panel-color);
}

#primary-button:hover, .search-button:hover {
	background-color: var(--primary-color);
}
#primary-button:active, .search-button:active {
	background-color: var(--light-grey-color);
}

#carousel-image-container {
	margin-left: auto;
	margin-right: auto;
}

#carousel-image {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	background-color: rgba(100,149,237, 0.5);
}

.fa-chevron-right, .fa-chevron-left {
	color: var(--primary-color);
}

#profile-image {
	border: 1em solid var(--primary-color);
}
.primary-button:active, .search-button:active {
	background-color: var(--light-grey-color);
}

.search-item-container:hover {
	margin-bottom: 1em;
	transform: scale(1.05);
	box-shadow: 0em 0em 0.5em var(--light-grey-color);
	cursor: pointer;
	z-index: 1;
}

.switch {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1em;
}

.toggle-btn {
	height: 1.625em;
	width: 3.25em;
	background: var(--panel-color);
	border-radius: 2.5em;
	border-style: solid;
	border-width: 0.1em;
	border-color: var(--panel-color);

}
.toggle-thumb {
	height: 1.425em;
	width: 1.425em;
	left: 0em;
	background-color: var(--primary-color);
	border-radius: 50%;
}

.toggle-btn.active {
	background: var(--background-color);
}

.toggle-btn.active > .toggle-thumb {
 	-webkit-transform: translateX(1.625em);
  	transform: translateX(1.625em);
}

#content-container {
	padding: 5%;
}

#searchField {
	width: 80%;
}

.profile-list li {
	padding: 5%;
	text-align: left;
	list-style-type: none;
}

.profile-list i {
	margin-right: 2em;
	color: var(--primary-color);

}

.profile-buttons {
	width: 100%;
	color: white;
}

.profile-icon {
	color: var(--primary-color);
}

.profile-buttons li {
	display: inline-block;
	background-color: var(--light-grey-color);
	width: 30%;
	min-height: 50%;
}

.profile-buttons li:hover {
	background-color: var(--primary-color);
	cursor: pointer;
}

.browse-history {
	position: relative;
	left: 0;
	top: 0;
}

.inner-content-container {
	margin: 1%;
	padding: 5%;
	background-color: var(--background-color);
}

.footer-content {
	background-color: var(--light-grey-color);
}

.contact-container i {
	margin-right: 2em;
	color: var(--primary-color);
}

.contact-container ul {
	margin: auto;
	list-style-type: none;
}
.contact-container a {
	color: #333;
}
.contact-container a:hover {
	color: var(--primary-color);
}