@font-face {
	font-family: Avenir;
	src: url('../fonts/Avenir-Light-07.ttf');
}
@font-face {
	font-family: Comfortaa;
	src: url('../fonts/Comfortaa-Regular.ttf');
}

:root {
	--background-color: #fbfcfc;
	--panel-color: #e2e2e2;
	--blue-color: #6495ed;
	--light-grey-color: #9d9d9c;
	--dark-grey-color: #878787;
}

body {
	background-color: var(--background-color);
}

h1 {
	font-family: Comfortaa, serif;
	font-size: 2.25em;
}

h2 {
	font-family: Comfortaa, serif;
	font-size: 1.9375em;
}

h3 {
	font-family: Comfortaa, serif;
	font-size:  1.625em; 
}

h4 {
	font-family: Avenir, serif !important;
	font-size: 1.3125em;
}

p {
	font-family: Avenir, serif;
	font-size: 1em;
}

#content-container {

}

.navbar {
	padding: 40% 5% 1% 5%;
	height: 0;
	background-image: url('https://blog.claytonhomes.com/hubfs/Blog/ClaytonTinyHome_JeffreyDunganCollection_TheLowCountry_039.jpg?t=1527878232226');
	background-repeat: no-repeat;
	background-color: var(--background-color);
	background-size: 100%;
	background-position: 50% 60%;
	font-family: Comfortaa, serif;
}

.nav-item {
	padding: -2%;
}

.nav-item h4 {
	color: #333;
}

.navbar .nav-item:hover {
	background-color: var(--blue-color);
}

.navbar .nav-item.active {
	background-color: var(--blue-color);
}

.navbar .nav-item:hover .fa {
	color: var(--blue-color);
}

.icon-item {
	font-size: 2.25em;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0) !important;
}

.row-padding {
	padding: 5% 2%;
}

.button-padding {
	padding: 1% 2%;
}

.row-divider {
	padding: 5% 2%;
}

.account-container {
	background-color: var(--background-color);
	display: none;
}

.account-input-field {
	width: 90%;
}


.signup-container {
	display: none;
}

.slider {
	-webkit-appearance: none;
	background-color: var(--panel-color);
	height: 1em;
	border-radius: 5px;
	outline: none;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
	height: 1.625em;
	width: 1.625em;
	border-radius: 50%;
    background: var(--blue-color);
    cursor: pointer;
}

.price-slider-container {
	width: 100%;
}

.distance-slider-container {
	width: 100%;
}

.lander-container {
	background-image: url('https://media.treehugger.com/assets/images/2017/11/roadhaus-wedge-rv-wheelhaus-6a.jpg.860x0_q70_crop-scale.jpg');
	background-repeat: no-repeat;
	background-color: var(--background-color);
	background-size: 100%;
	height: 100vh;
	width: 100%;
	background-position: 50% 50%;
	font-family: Comfortaa, serif;
}

.lander-div {
	position: fixed;
	left: 25%;
	top: 15%;
	right: 50%;
	width: 50%;
	background-color: rgba(256, 256, 256, 0.8);
}

.primary-button {
	background-color: var(--dark-grey-color);
}
.search-button {
	background-color: var(--panel-color);
}

.primary-button:hover, .search-button:hover {
	background-color: var(--blue-color);
}
.primary-button:active, .search-button:active {
	background-color: var(--light-grey-color);
}

#carousel-image-container {
	margin-left: auto;
	margin-right: auto;
}

#carousel-image {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	background-color: rgba(100,149,237, 0.5);
}

.fa-chevron-right, .fa-chevron-left {
	color: var(--blue-color);
}

#content-container {
	padding: 5%;
}

#searchField {
	width: 80%;
} 