<div id="content-container">
	<div class="container text-center">
		<div class="row">
			<div class="col-10 offset-1">
				<h2>ABOUT PAGE</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-10 offset-1">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus, purus vel suscipit interdum, tortor eros vulputate ante, id vulputate mi tortor rutrum dui. Curabitur sapien mauris, porta eget interdum non, condimentum at nisl. Curabitur dignissim, mi vel iaculis pellentesque, turpis ligula varius sapien, vitae auctor ex nunc non sem. Pellentesque sed placerat dui. Phasellus cursus sodales velit at pellentesque. In gravida malesuada convallis. Nullam porta, erat a tincidunt bibendum, massa quam faucibus sem, ac faucibus lectus nulla et sapien. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse ut purus eu sem dapibus sodales. Curabitur finibus ligula erat, ullamcorper tristique nisi tincidunt a. In ac lectus ultrices, varius orci ac, semper dui.
			</p>
			</div>
		</div>
		<div class="row">
			<div class="col-10 offset-1">
				<p>
					Proin rhoncus suscipit porta. Aenean porta accumsan scelerisque. Aliquam vel metus eleifend, molestie augue in, tristique eros. Maecenas sed iaculis est, et lobortis dolor. Donec ornare magna vitae purus dapibus, id laoreet felis ullamcorper. Aenean bibendum ante lacus, in ornare ante lobortis ac. Duis magna arcu, mollis et nibh at, lacinia eleifend velit. Ut suscipit lacinia arcu quis tristique. Proin sagittis in mauris a tristique. Pellentesque imperdiet urna lorem, vel pretium leo vestibulum nec. Cras ullamcorper, ex et malesuada iaculis, enim mauris vehicula ex, sed finibus dolor nibh quis leo. Nunc sit amet molestie ipsum, sed blandit velit. Phasellus tincidunt, nibh vitae mattis vehicula, libero turpis pharetra dui, ut commodo dolor sapien nec quam. In vitae libero hendrerit, efficitur sapien eget, pretium nunc.					
				</p>
			</div>
		</div>
	</div>
</div>