<div id="content-container">
	<div class="container text-center">
		<div class="row about-container">
			<div class="col-10 offset-1">
				<h1>Tiny Retreats</h1>
			</div>
		</div>
		<div class='row inner-content-container text-center'>
			<div class="col-10 offset-1">
				<h3>Our Mission</h3>
				<p>
					Our mission at Tiny Retreats is to offer the consumer a marketplace where they can buy and sell the highest quality of tiny houses. Our search function gives you the most options to find your perfect tiny house. Whether you want electricity, running water or internet access, we’ve got the tiny houses to fit your needs.
				</p>
			</div>
		</div>
		<div class="row inner-content-container">
			<div class="col-10 offset-1">
				<h3>About</h3>
				<p>
					Tiny Retreats started off as a small start up company providing local users a network of tiny houses for sale or for others to sell their tiny house in their area. Today, we have expanded our business beyond the local area to allow all Dutch citizens looking for a tiny house to buy or sell with the necessary tools to do so.
				</p>
				<p>
					The idea of the website came from a rising trend that we saw in the market for buying and selling houses. We saw a rise in popularity for tiny houses, but the marketplaces that were already there didn’t accomodate to a lot of the needs and wants that the customers were asking for, when it comes to these kinds of houses. We sought to build an entirely new marketplace, dedicated to those who find themselves wanting a new way of living, that can be tailored to all the things that they wish for.
				</p>
				<p>
					This is what we at Tiny Retreats offer to our users on a daily basis.
				</p>
			</div>
		</div>
	</div>
</div>