<div id="content-container">
	<div class="container text-center" id="account-container">
		<div class="row row-padding">
			<div class="col-10 offset-1">
				<h2>ACCOUNT PAGE</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">
				<span class="fa fa-user"></span>
				<input type="email" placeholder="email">
			</div>
			<div class="col-3">
			</div>
		</div>
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">
				<span class="fa fa-key"></span>
				<input type="password" placeholder="password">
			</div>
			<div class="col-3">
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-3">
			</div>
			<div class="col-6">
				<button class="btn btn-block" id="primary-button">SIGN IN</button>
			</div>
			<div class="col-3">
			</div>
		</div>
	</div>
</div>