<div id="content-container">
	<div class="container text-center login-container">
		<div class="row row-padding">
			<div class="col-sm-10 offset-1">
				<h2>LOG IN</h2>
			</div>
		</div>
		<div class="row button-padding">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<span class="fa fa-user"></span>
				<input type="email" placeholder="email" id='login-email-field' class="account-input-field">
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<div class="row button-padding">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<span class="fa fa-key"></span>
				<input type="password" placeholder="password" id="login-password-field" class="account-input-field">
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<div class="row button-padding">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<button class="btn btn-block" onclick="login()" id="primary-button">LOG IN</button>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<button class="btn btn-block" onclick="googleLogin()" id="primary-button"><i class="fab fa-google text-left"></i>SIGN IN WITH GOOGLE</button>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6" onclick="switchLoginSignUp()">
				<p>No account? click here to sign up</p>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
	</div>
	<div class="container text-center signup-container">
		<div class="row row-padding">
			<div class="col-sm-10 offset-1">
				<h2>SIGN UP</h2>
			</div>
		</div>
		<div class="row button-padding">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<span class="fa fa-user"></span>
				<input type="email" placeholder="email" id='signup-email-field' class="account-input-field">
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<div class="row button-padding">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<span class="fa fa-key"></span>
				<input type="password" placeholder="password" id="signup-password-field" class="account-input-field">
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<button class="btn btn-block" onclick="signup()" id="primary-button">SIGN UP</button>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6" onclick="switchLoginSignUp()">
				<p>Back to login</p>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
	</div>
	<div class="container text-center account-container">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8" style="padding: 5%;">
				<h2><i class="fa fa-user profile-icon"></i> Martin Jawahier’s User Page</h2>
			</div>
			<div class="col-sm-2">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 profile-list">
				<img src="/assets/pf.png" id="profile-image"/>
				<ul>
					<li><p><img src="/assets/forumposts.png"/>123 forum posts</p></li>
					<li><p><img src="/assets/buildings_sold.png"/>12 tiny houses sold</p></li>
					<li><p><img src="/assets/buildings_bought.png"/>3 tiny houses bought</p></li>
					<li><button class="btn btn-block" onclick="logout()" id="primary-button">LOG OUT</button></li>
				</ul>
			</div>
			<div class="col-sm-7 col-md-7 col-lg-7">
				<ul class="profile-buttons">
					<li><p>Browse history</p></li>
					<li><p>Purchase history</p></li>
					<li><p>Suggestions</p></li>
					<li></li>
				</ul>
				<img src="/assets/profile-house.png">
				<img src="/assets/profile-house.png">
			</div>
		</div>
		
	</div>
	<script>
		if (isLoggedIn)
		{
			$('.login-container').hide();
			$('.account-container').show();
		}
	</script>
</div>