<div id="content-container">
	<div class="container text-center login-container">
		<div class="row row-padding">
			<div class="col-10 offset-1">
				<h2>LOG IN</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">
				<span class="fa fa-user"></span>
				<input type="email" placeholder="email" id='login-email-field'>
			</div>
			<div class="col-3">
			</div>
		</div>
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">
				<span class="fa fa-key"></span>
				<input type="password" placeholder="password" id="login-password-field">
			</div>
			<div class="col-3">
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-3">
			</div>
			<div class="col-6">
				<button class="btn btn-block" onclick="login()" id="primary-button">LOG IN</button>
			</div>
			<div class="col-3">
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-3">
			</div>
			<div class="col-6" onclick="showSignUp()">
				<p>No account? click here to sign up</p>
			</div>
			<div class="col-3">
			</div>
		</div>
	</div>
	<div class="container text-center signup-container">
		<div class="row row-padding">
			<div class="col-10 offset-1">
				<h2>SIGN UP</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">
				<span class="fa fa-user"></span>
				<input type="email" placeholder="email" id='signup-email-field'>
			</div>
			<div class="col-3">
			</div>
		</div>
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">
				<span class="fa fa-key"></span>
				<input type="password" placeholder="password" id="signup-password-field">
			</div>
			<div class="col-3">
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-3">
			</div>
			<div class="col-6">
				<button class="btn btn-block" onclick="signup()" id="primary-button">SIGN UP</button>
			</div>
			<div class="col-3">
			</div>
		</div>
	</div>
	<div class="container text-center account-container">
		<div class="row">
			<div class="col-10">
				<h1>LOGIN SUCCESSFUL, THIS IS THE ACCOUNT PAGE</h1>
			</div>
		</div>
	</div>
</div>