<div id="content-container">
	<div class="container text-left">
		<div class="row">
			<div class="col-10 offset-1"> 
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-1">
				<span class="fab fa-twitter"></span>
			</div>
			<div class="col-sm-3">
				FOLLOW US ON TWITTER!
			</div>
			<div class="col-sm-4">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-1">
				<span class="fab fa-facebook"></span>
			</div>
			<div class="col-sm-3">
				LIKE US ON FACEBOOK
			</div>
			<div class="col-sm-4">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-1">
				<span class="fab fa-linkedin"></span>
			</div>
			<div class="col-sm-3">
				FIND US ON LINKEDIN
			</div>
			<div class="col-sm-4">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-1">
				<span class="fab fa-instagram"></span>
			</div>
			<div class="col-sm-3">
				FOLLOW US ON INSTAGRAM
			</div>
			<div class="col-sm-4">
			</div>
		</div>		
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-1">
				<span class="fab fa-snapchat"></span>
			</div>
			<div class="col-sm-3">
				FOLLOW US ON SNAPCHAT
			</div>
			<div class="col-sm-4">
			</div>
		</div>
	</div>
</div>