<div id="content-container">
	<div class="container text-center">
		<div class="row inner-content-container">
			<div class="col-10 offset-1"> 
				<p>All of our contact and folow links are listed below.</p>
			</div>
		</div>
		<div class='row about-container inner-content-container contact-container'>
			<div class='col-sm-6 col-md-6 col-lg-6 text-left'>
				<ul>
					<li><p><i class="fa fa-phone"></i><a href="" target="_blank">+31 6 12 34 56 78</a></p></li>
					<li><p><i class="fa fa-envelope"></i><a href="" target="_blank">info@TinyRetreats.com</a></p></li>
					<li><p><i class="fab fa-twitter"></i><a href="" target="_blank">Follow us on Twitter</a></p></li>
				</ul>
			</div>
			<div class='col-sm-6 col-md-6 col-lg-6 text-left'>
				<ul>
					<li><p><i class="fab fa-facebook"></i><a href="" target="_blank">Like us on Facebook</a></p></li>
					<li><p><i class="fab fa-linkedin"></i><a href="" target="_blank">Find us on LinkedIn</a></p></li>
					<li><p><i class="fab fa-snapchat"></i><a href="" target="_blank">Follow us on Snapchat</a></p></li>
				</ul>
			</div>
		</div>
	</div>
</div>