<div id="content-container">
	<div class="container text-center">
		<div class="row">
			<div class="col-10 offset-1">
				<h4>IN SHORT</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-10 offset-1">
				<p>
					The tiny house movement (also known as the "small house movement") is a description for the architectural and social movement that advocates living simply in small homes. There is currently no set definition as to what constitutes as a tiny house; however, a residential structure under 500 square feet (46 m<sup>2</sup>) is generally accepted to be a tiny home. The tiny house movement promotes financial prudence, eco-friendly choices, shared community experiences, and a shift in consumerism-driven mindsets.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-10 offset-1">
				<h4>BACKGROUND</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-10 offset-1">
				<p>
					In the United States, the average size of new single family homes grew from 1,780 square feet (165 m<sup>2</sup>) in 1978 to 2,479 square feet (230.3 m<sup>2</sup>) in 2007, and to 2,662 square feet (247.3 m<sup>2</sup>) in 2013, despite a decrease in the size of the average family. Reasons for this include increased material wealth and prestige of individuals with high incomes.
				</p>
				<p> 
					The small house movement is a return to houses of less than 1,000 square feet (93 m<sup>2</sup>). Frequently, the distinction is made between small (between 400 square feet (37 m<sup>2</sup>) and 1,000 square feet (93 m<sup>2</sup>)), and tiny houses (less than 400 square feet (37 m<sup>2</sup>)), with some as small as 80 square feet (7.4 m<sup>2</sup>). Sarah Susanka has been credited with starting the recent countermovement toward smaller houses when she published The Not So Big House (1997).. Earlier pioneers include Lloyd Kahn, author of Shelter (1973) and Lester Walker, author of <i>Tiny Houses</i> (1987). Henry David Thoreau and the publication of his book <i>Walden</i> is also quoted as early inspiration.
				</p>
				<p>
					Tiny houses on wheels were popularized by Jay Shafer who designed and lived in a 96 sq ft house and later went on to offer the first plans for tiny houses on wheels, initially founding Tumbleweed Tiny House Company, and then Four Lights Tiny House Company (September 6, 2012). In 2002, he co-founded, along with Greg Johnson, Shay Salomon and Nigel Valdez the Small House Society. Salomon and Valdez subsequently published their guide to the modern Small House Movement, <i>Little House on a Small Planet</i> (2006) and Johnson published his memoir, <i>Put Your Life on a Diet</i> (2008).
				<p>
				</p>
					With the financial crisis of 2007–08, the small house movement attracted more attention as it offers housing that is more affordable and ecologically friendly. Overall, however, it represents a very small part of real estate transactions. Thus only 1% of home buyers acquire houses of 1,000 square feet (93 m<sup>2</sup>) or less. Small houses are also used as accessory dwelling units (or ADUs), to serve as additional on-property housing for aging relatives or returning children, as a home office, or as a guest house. Typical costs are about $20,000 to $50,000 as of 2012. 
				</p>
				<p>
					In Oakland, California, Gregory Klöhn builds small houses out of found materials, for an estimated cost of $40. 
				<p>
				</p>
					Small and tiny houses have received increasing media coverage including a serial television show, <i>Tiny House Nation</i>, in 2014 and <i>Tiny House Hunters</i>. The possibility of building one's own home has fueled the movement, particularly for tiny houses on wheels. Tiny houses on wheels are often compared to RVs. However, tiny houses are built to last as long as traditional homes, use traditional building techniques and materials, and are aesthetically similar to larger homes. 
					Some companies have put into motion plans to create tiny home developments. 
				</p>
			</div>
		</div>
	</div>
</div>