	<div id="lander-container">
		<div class="lander-container-layer">
			<div class="lander-div">
				<div class="row">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-4">
						<img src="assets/tr.svg" class="lander-logo img-fluid">
					</div>
					<div class="col-sm-4">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-8 text-center">
						<h1>Welcome</h1>
					</div>
					<div class="col-sm-2">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-8 text-center">
						<h4>to <i>our</i> home</h4>
					</div>
					<div class="col-sm-2">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-4 text-center">
						<i class="fas fa-chevron-circle-down"></i>
					</div>
					<div class="col-sm-4">
					</div>
				</div>

			</div>
		</div>
	</div>