<div id="content-container" style="padding: 0 !important;">
	<div class="lander-container">
		<div class="lander-div">
			<div class="row text-center justify-content-center row-padding">
				<div class="col-sm">
					<h2>WEE LADS BOI</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus, purus vel suscipit interdum, tortor eros vulputate ante, id vulputate mi tortor rutrum dui. Curabitur sapien mauris, porta eget interdum non, condimentum at nisl.				
					</p>
				</div>
			</div>
			<div class="row text-center justify-content-center row-padding">
				<div class="col-sm" id="lander-search-button">
					<h4>Looking to buy a tiny house?</h4>
					<button type="button" class="btn btn-lg btn-block primary-button">FIND YOU TINY HOUSE HERE!</button>
				</div>
			</div>
			<div class="row text-center justify-content-center row-padding">
				<div class="col-sm" id="lander-login-button">	
					<h4>Looking to sell tiny houses?</h4>
					<button type="button" class="btn btn-lg btn-block primary-button">LOGIN HERE!</button>
				</div>
			</div>
		</div>
	</div>
</div>