<div id="content-container">
	<div class="container text-center">
		<h2>MILE STONE PAGE</h2>
	</div>
	<div class="row justify-content-center row-divider">
		<h4>LO-FI'S</h4>
	</div>
	<div class="row justify-content-center">
		<div class="col-3">
		</div>
		<div class="col-6 justify-content-center">
			<div id="lofiCarouselController" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div id="carousel-image-container" class="carousel-item active">
						<img src="assets/erik-lo-fi_wireframe_mobile.png" class="d-block w-100 h-100 img-responsive">
					</div>
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/erik-lo-fi_wireframe_tablet.png" class="d-block w-100 h-100 img-responsive">
					</div>
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/erik-lo-fi_wireframe_web.png" class="d-block w-100 h-100 img-responsive">
					</div>
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/martin-landing-page.png" class="d-block w-100 h-100 img-responsive">
					</div>
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/martin-lo-fi-wireframe-mobile.png" class="d-block w-100 h-100 img-responsive">
					</div>		
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/martin-lo-fi-wireframe.png" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/kuba-mobile.png" class="d-block w-100 h-100 img-responsive">
					</div>			
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/kuba-tablet.png" class="d-block w-100 h-100 img-responsive">
					</div>		
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/kuba-web1.png" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/evan-web.png" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/evan-mobile.png" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/evan-tablet.png" class="d-block w-100 h-100 img-responsive">
					</div>
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-NoBox_large.jpg" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-NoBox_medium.jpg" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-NoBox_medium_2.jpg" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-Wireframe_large_2.jpg" class="d-block w-100 h-100 img-responsive">
					</div>
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-Wireframe_medium.jpg" class="d-block w-100 h-100 img-responsive">
					</div>			
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-Wireframe_medium_2.jpg" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-Wireframe_small.jpg" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-Wireframe_small_2.jpg" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-WireframeNoBox_large.jpg" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-WireframeNoBox_small_1.jpg" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-WireframeNoBox_small_2.jpg" class="d-block w-100 h-100 img-responsive">
					</div>	
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="assets/daniel-Wireframe_large.jpg" class="d-block w-100 h-100 img-responsive">
					</div>	
				</div>
		 		<a class="carousel-control-prev" href="#lofiCarouselController" role="button" data-slide="prev">
				    <i class="fa fa-chevron-left"></i>
		   			<span class="sr-only">Previous</span>
		  		</a>
		 		<a class="carousel-control-next" href="#lofiCarouselController" role="button" data-slide="next">
				    <i class="fa fa-chevron-right"></i>
		    		<span class="sr-only">Next</span>
		  		</a>
			</div>
		</div>
		<div class="col-3">
		</div>
	</div>
	<div class="row row-divider justify-content-center">
		<h4>HI-FI'S</h4>
	</div>	
	<div class="row justify-content-center">
		<div class="col-3">
		</div>
		<div class="col-6 justify-content-center">
		<div id="hifiCarouselController" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div id="carousel-image-container" class="carousel-item active">
					<img src="http://via.placeholder.com/350/f9f9f8" class="d-block w-100 h-100 img-responsive">
				</div>
				<div id="carousel-image-container" class="carousel-item">
					<img id="carousel-image" src="http://via.placeholder.com/350/6495ed" class="d-block w-100 h-100 img-responsive">
				</div>
				<div id="carousel-image-container" class="carousel-item">
					<img id="carousel-image" src="http://via.placeholder.com/350/878787"class="d-block w-100 h-100 img-responsive">
				</div>
			</div>
				<a class="carousel-control-prev" href="#hifiCarouselController" role="button" data-slide="prev">
				    <i class="fa fa-chevron-left"></i>
				   	<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#hifiCarouselController" role="button" data-slide="next">
				    <i class="fa fa-chevron-right"></i>
				    <span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col-3">

		</div>		
	</div>
</div>