<div id="content-container">
	<div class="container text-center">
		<h2>MILE STONE PAGE</h2>
	</div>
	<div class="row justify-content-center row-divider">
		<h4>LO-FI'S</h4>
	</div>
	<div class="row justify-content-center">
		<div class="col-3">
		</div>
		<div class="col-6 justify-content-center">
			<div id="lofiCarouselController" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div id="carousel-image-container" class="carousel-item active">
						<img src="/assets/lo-fi_wireframe_mobile.png" class="d-block w-100 h-100">
					</div>
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="/assets/lo-fi_wireframe_tablet.png" class="d-block w-100 h-100">
					</div>
					<div id="carousel-image-container" class="carousel-item">
						<img id="carousel-image" src="/assets/lo-fi_wireframe_web.png" class="d-block w-100 h-100">
					</div>
				</div>
		 		<a class="carousel-control-prev" href="#lofiCarouselController" role="button" data-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		   			<span class="sr-only">Previous</span>
		  		</a>
		 		<a class="carousel-control-next" href="#lofiCarouselController" role="button" data-slide="next">
		    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    		<span class="sr-only">Next</span>
		  		</a>
			</div>
		</div>
		<div class="col-3">
		</div>
	</div>
	<div class="row row-divider justify-content-center">
		<h4>HI-FI'S</h4>
	</div>	
	<div class="row justify-content-center">
		<div class="col-3">
		</div>
		<div class="col-6 justify-content-center">
		<div id="hifiCarouselController" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div id="carousel-image-container" class="carousel-item active">
					<img src="http://via.placeholder.com/350/f9f9f8" class="d-block w-100 h-100">
				</div>
				<div id="carousel-image-container" class="carousel-item">
					<img id="carousel-image" src="http://via.placeholder.com/350/6495ed" class="d-block w-100 h-100">
				</div>
				<div id="carousel-image-container" class="carousel-item">
					<img id="carousel-image" src="http://via.placeholder.com/350/878787"class="d-block w-100 h-100">
				</div>
			</div>
				<a class="carousel-control-prev" href="#hifiCarouselController" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				   	<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#hifiCarouselController" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col-3">
		</div>		
	</div>
</div>