<div id="content-container">
	<div class="container text-center">
		<h2>MILE STONE PAGE</h2>
	</div>
	<div class="row justify-content-center inner-content-container">
		<h4>LO-FI'S</h4>
	</div>
	<div class="row justify-content-center inner-content-container">
		<div class="col-sm-10 offset-1 milestone-container">
			<img src="assets/erik-lo-fi_wireframe_web.png">
			<img src="assets/erik-lo-fi_wireframe_mobile.png">
			<img src="assets/erik-lo-fi_wireframe_tablet.png">
			<img src="assets/martin-landing-page.png">
			<img src="assets/martin-lo-fi-wireframe-mobile.png">
			<img src="assets/martin-lo-fi-wireframe.png">
			<img src="assets/kuba-mobile.png">
			<img src="assets/kuba-tablet.png">
			<img src="assets/kuba-web1.png">
			<img src="assets/evan-mobile.png">
			<img src="assets/evan-web.png">
			<img src="assets/evan-tablet.png">
			<img src="assets/daniel-web1.jpg">
			<img src="assets/daniel-web2.jpg">
			<img src="assets/daniel-tablet1.jpg">
			<img src="assets/daniel-tablet2.jpg">
			<img src="assets/daniel-mobile1.jpg">
			<img src="assets/daniel-mobile2.jpg">
		</div>
	</div>
	<div class="row justify-content-center inner-content-container">
		<h4>HI-FI'S</h4>
	</div>	
	<div class="row justify-content-center inner-content-container">
		<div class="col-sm-10 offset-1 milestone-container">
			<img src="assets/hifi_about.png">
			<img src="assets/hifi_acount.png">
			<img src="assets/hifi_contact.png">
			<img src="assets/hifi_details.png">
			<img src="assets/hifi_landing_1.png">
			<img src="assets/hifi_landing_2.png">
			<img src="assets/hifi_search.png">
		</div>
	</div>
	<div class="row justify-content-center inner-content-container">
		<h4>STYLEGUIDE</h4>
	</div>
	<div class="row justify-content-center inner-content-container styleguide">
		<img src="assets/styleguide.png">
	</div>
	<div class="row justify-content-center inner-content-container">
		<h4>MOODBOARD</h4>
	</div>
	<div class="row justify-content-center inner-content-container moodboard">
		<img src="assets/moodboard_ultima.png">
	</div>
	<div class="row justify-content-center inner-content-container">
		<h4>BUSINESS MODEL CANVAS</h4>
	</div>
	<div class="row justify-content-center inner-content-container business-model-canvas">
		<img src="assets/arger.png">
	</div>
</div>