<div id="navigation-container">
	<nav class="navbar navbar-expand-lg navbar-light">
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a href="#" id="home-page" class="navbar-brand active"></a><img src="assets/tr.svg" >
		<div class="collapse navbar-collapse justify-content-center" id="navbarContent">	
			<ul class="navbar-nav">
				<li class="nav-item" id="search-page">
					<a class="nav-link" href="#search"><h4>SEARCH</h4></a>
				</li>
	      		<li class="nav-item" id="info-page" >
	        		<a class="nav-link" href="#info"><h4>INFO</h4></a>
	      		</li>
				<li class="nav-item" id="contact-page">
					<a class="nav-link" href="#contact"><h4>CONTACT</h4></a>
				</li>
				<li class="nav-item" id="about-page">
					<a class="nav-link" href="#about"><h4>ABOUT</h4></a>
				</li>
			</ul>
		</div>
		<ul class="navbar-nav fixed-right">
			<li class="nav-item icon-item">
				<a id="account-page" class="nav-link"><span class="fa fa-user"></span></a>
			</li>
			<li class="nav-item icon-item">
				<a id="milestone-page" class="nav-link"><span class="fa fa-trophy"></span></a>
			</li>
		</ul>
	</nav>
</div>	