<div id="content-container">
	<div class="container text-center">
		<div class="row">
			<div class="col-10 offset-1">

			</div>
		</div>
		<div class="search-options-container">
			<div class="row row-padding">
				<div class="col-sm-2">

				</div>
				<div class="col-sm-8">
					<span>					
						<input type="text" placeholder="search here" id="searchField">
						<button id='primary-button'>GO</button>
					</span>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
			<div class="row row-padding">
				<div class="col-sm">
					<h4>
						<span class="fa fa-bars"></span>
						MORE FILTER OPTIONS
					</h4>
				</div>
				<div class="col-sm">
					<h4>
						PRICE RANGE
					</h4>
					<div class="price-slider-container">
					  <input type="range" min="50" max="250" value="100" class="slider" id="priceSlider">
					  <p><span class="fa fa-euro-sign"></span><span id="priceText"></span>,000</p>
					</div>
				</div>
				<div class="col-sm">
					<h4>
						<span class="fa fa-map-marker"></span>
						DISTANCE
					</h4>
					<div class="distance-slider-container">
					  <input type="range" min="1" max="250" value="25" class="slider" id="distanceSlider">
					  <p><span id="distanceText"></span> km</p>
					</div>	
				</div>
			</div>
 		</div>
		<div class="row row-padding text-center">
			<div class="col col-sm-4">
				<img src="https://www.1limburg.nl/sites/default/files/public/styles/media-paragraph/public/macy-miller-tiny-house-2.jpg?itok=ySmiqYLu" class="img-fluid img-thumbnail"/>
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-map-pin"></span>
							Groningen
						</p>
					</div>
					<div class="col-sm">
						<p><b>7km</b> away</p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-euro-sign"></span>
							120,000
						</p>
					</div>
					<div class="col-sm">
						<p>40m<sup>2</sup></p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<button type="button" class="btn btn-primary btn-lg btn-block" id="primary-button">VIEW DETAILS</button>
					</div>
				</div>
			</div>
			<div class="col col-sm-4">
				<img src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fimg1.southernliving.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_inbody_900x506%2Fpublic%2Fimage%2F2017%2F03%2Fmain%2Ftiny-house-low-country-tiny-home-exterior.jpg%3Fitok%3Dx1nfkC1l&w=800&q=85" class="img-fluid img-thumbnail">
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-map-pin"></span>
							Groningen
						</p>
					</div>
					<div class="col-sm">
						<p><b>15km</b> away</p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-euro-sign"></span>
							90,000
						</p>
					</div>
					<div class="col-sm">
						<p>32m<sup>2</sup></p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<button type="button" class="btn btn-primary btn-lg btn-block" id="primary-button">VIEW DETAILS</button>
					</div>
				</div>
			</div>
			<div class="col col-sm-4">
				<img src="https://hips.hearstapps.com/clv.h-cdn.co/assets/17/13/amplifiedtinyhouse-9.jpg" class="img-fluid img-thumbnail" />
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-map-pin"></span>
							Groningen
						</p>
					</div>
					<div class="col-sm">
						<p><b>125km</b> away</p>						
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-euro-sign"></span>
							180,000
						</p>
					</div>
					<div class="col-sm">
						<p>55m<sup>2</sup></p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<button type="button" class="btn btn-primary btn-lg btn-block" id="primary-button">VIEW DETAILS</button>
					</div>
				</div>
			</div>
		</div>	
		<div class="row row-padding text-left">
			<div class="col col-sm-4">
				<img src="https://www.1limburg.nl/sites/default/files/public/styles/media-paragraph/public/macy-miller-tiny-house-2.jpg?itok=ySmiqYLu" class="img-fluid img-thumbnail"/>
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-map-pin"></span>
							Groningen
						</p>
					</div>
					<div class="col-sm">
						<p><b>7km</b> away</p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-euro-sign"></span>
							120,000
						</p>
					</div>
					<div class="col-sm">
						<p>40m<sup>2</sup></p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<button type="button" class="btn btn-primary btn-lg btn-block" id="primary-button">VIEW DETAILS</button>
					</div>
				</div>
			</div>
			<div class="col col-sm-4">
				<img src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fimg1.southernliving.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_inbody_900x506%2Fpublic%2Fimage%2F2017%2F03%2Fmain%2Ftiny-house-low-country-tiny-home-exterior.jpg%3Fitok%3Dx1nfkC1l&w=800&q=85" class="img-fluid img-thumbnail">
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-map-pin"></span>
							Groningen
						</p>
					</div>
					<div class="col-sm">
						<p><b>15km</b> away</p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-euro-sign"></span>
							90,000
						</p>
					</div>
					<div class="col-sm">
						<p>32m<sup>2</sup></p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<button type="button" class="btn btn-primary btn-lg btn-block" id="primary-button">VIEW DETAILS</button>
					</div>
				</div>
			</div>
			<div class="col col-sm-4">
				<img src="https://hips.hearstapps.com/clv.h-cdn.co/assets/17/13/amplifiedtinyhouse-9.jpg" class="img-fluid img-thumbnail" />
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-map-pin"></span>
							Groningen
						</p>
					</div>
					<div class="col-sm">
						<p><b>125km</b> away</p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<p>
							<span class="fa fa-euro-sign"></span>
							180,000
						</p>
					</div>
					<div class="col-sm">
						<p>55m<sup>2</sup></p>
					</div>
				</div>
				<div class="row row-padding">
					<div class="col-sm">
						<button type="button" class="btn btn-primary btn-lg btn-block" id="primary-button">VIEW DETAILS</button>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<script>
		var priceSlider = document.getElementById("priceSlider");
		var priceOutput = document.getElementById("priceText");
		var distanceSlider = document.getElementById("distanceSlider");
		var distanceOutput = document.getElementById("distanceText");

		priceOutput.innerHTML = priceSlider.value;
		distanceOutput.innerHTML = distanceSlider.value;

		priceSlider.oninput = function() {
			priceOutput.innerHTML = this.value;
		}

		distanceSlider.oninput = function() {
			distanceOutput.innerHTML = this.value;
		}		
	</script>
</div>