<div id="second-lander-container">
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-4 second-lander-content">
			<ul class="second-lander-list" style="height: 80vh;">
				<li><img src="assets/tr.svg" id="resize-logo" style="margin-left: 20%;"></li>
				<li><h2 style="margin-top: 10%; text-align:center">Tiny Retreats</h2></li>
				<li><p>Tiny Retreats is <strong>the</strong> platform to visit if you are looking to buy or sell a tiny houses.</p></li>
				<li><p>Our marketpalce offers easy accesss to all the information you need to make a decision.</p></li>
				<li><p>Tiny houses are the perfect retreat from your everyday life.</p></li>
				<h4 class="second-lander-aboutus"><a id="about-page">click here to read more about us</a></h4>
			</ul>
		</div>
		<div class="col-sm-6 text-center">
			<h3 class="second-lander-title">How can we help you?</h3>
			<div class="row">
				<div class="col-sm-5 second-lander-segment">
					<img id="second-lander-img" src="assets/buy.png">
					<div class="second-lander-button" id="second-lander-buy"><h3>Buy</h3></div>
				</div>
				<div class="col-sm-5 second-lander-segment">
					<img id="second-lander-img" src="assets/sell.png">
					<div class="second-lander-button" id="second-lander-sell"><h3>Sell</h3></div>	
				</div>
			</div>
			
		</div>
	</div>
</div>